
body {
  display: flex;
  font-family: 'Nunito', sans-serif;
  margin: 0px;
}

.column {
  display: flex;
  flex-direction: column;
}

.sidebar {
  border: 2px solid rgb(137 50 50);
  background: #E7B7C8;
  flex: 0 1 200px;
  width: 200px;
}

.profile {
  align-items: center;
  justify-content: center;
  padding-top: 20px; 
  font-weight: bold;
  color: #3b2323;
}

.profile__image {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 4px solid white;
}

.profile__user {
  align-items: center;
  display: flex;
}

.down-arrow {
  font-size: 20px;
  margin-top: -12px;
  margin-left: 4px;
  color: #3b2323;
}

.navbar {
  border-top: 2px solid rgb(137 50 50);
  display: flex;
  font-size: 12px;
  justify-content: center;
  padding: 12px 0px;
}

.nav__title {
  color: rgb(79 51 51);
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 0px;
}

.nav__button {
  gap: 10px;
  flex: 0 1 30px;
  background-color: #E7B7C8;
  color: #3b2323;
  border: 0px;
  padding: 0px;
  /* border: 1px solid gray; */
}

.nav__button:hover {
  background-color: #CDB3D4;
  font-weight: bold;
}
/* 
.paired:active {
  background: gray;
  border:gray;
} */

.align {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
}

.nav__icon {
  height: 18px;
  width: 18px;
  /* padding: 12px; */
}

.main {
  flex: 1 1 0px;
}

.main__top {
  display: flex;
}

.main__top-button {
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
}

.main__top-button:hover {
  background-color: #E7B7C8;
}

.main__top-icon {
  height: 32px;
  width: 32px;
  margin-top: 3px;
}

.search-bar {
  width: 60%;
}

