
body {
  display: flex;
  font-family: 'Nunito', sans-serif;
  margin: 0px;
}

.column {
  display: flex;
  flex-direction: column;
}

.sidebar {
  border: 2px solid rgb(165, 88, 88);
  background: #E7B7C8;
  flex: 0 1 200px;
  width: 200px;
}

.profile {
  align-items: center;
  justify-content: center;
  padding-top: 20px; 
  font-weight: bold;
  color: #3b2323;
}

.username {
  margin: 6px;
}

.profile__image {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 4px solid white;
}

.profile__user {
  align-items: center;
  display: flex;
}

.down-arrow {
  font-size: 20px;
  margin-top: -12px;
  margin-left: 4px;
  color: #3b2323;
  background-color: #E7B7C8;
  border: 0px;
}

.navbar {
  border-top: 2px solid rgb(165, 88, 88);
  display: flex;
  font-size: 12px;
  justify-content: center;
  padding: 12px 0px;
}

.nav__title {
  color: rgb(79 51 51);
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 0px;
}

.nav__button {
  gap: 10px;
  flex: 0 1 30px;
  background-color: #E7B7C8;
  color: #3b2323;
  border: 0px;
  padding: 0px;
  /* border: 1px solid gray; */
}

.nav__button:hover {
  background-color: #CDB3D4;
  font-weight: bold;
}
/* 
.paired:active {
  background: rgb(164, 143, 143);
  border:rgb(164, 143, 143);
} */

.align {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
}

.nav__icon {
  height: 18px;
  width: 18px;
  /* padding: 12px; */
}

.main {
  flex: 1 1 0px;
}

.row {
  display: flex;
}

.main__top-button {
  border: 1px solid rgb(164, 143, 143);
  background-color: white;
}

.main__top-button:hover {
  background-color: #E7B7C8;
}

.main__top-icon {
  height: 32px;
  width: 32px;
  margin-top: 3px;
}

.search-bar {
  flex: 1 1 0px;
  border: 1px solid rgb(164, 143, 143);
  padding-left: 10px;  
}

.job-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

.job-status {
  border: 1px solid #63BCC9;
  border-radius: 16px;
  gap: 2px;
  display: flex;
  justify-content: center;
  padding: 4px
}

/* .status-icon {
  width: 18px;
  height: 18px;
} */

.buttons__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.job__button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgb(164, 143, 143);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job__button:hover {
  background-color: rgb(247, 222, 222);
}

.job__icons {
  height: 18px;
  width: 18px;
}

.job__title {
  padding: 10px;

}
.job__location {
  color: rgb(137 50 50);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}

.job__preview {
  gap: 10px;
}

.preview-link {
  font-weight: bold;
  color: #63BCC9;
  
}

h1, p {
  margin: 0px; 
  padding: 0px;
}

.nav__job-items {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 30px 50px;
}

.nav__job-button {
  background-color: white;
  border: 0px;
  padding: 6px;
}

.nav__job-button:hover {
  background-color: #E7B7C8;
}